/* Apply to the whole page */
body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;       /* base font size */
  line-height: 1.5;      /* clean spacing between lines */
  color: #333;           /* neutral dark text */
  margin: 0;
  padding: 0;
  
  background: linear-gradient(to bottom, #5c7a76 70%, #c7c2bc 100%);
}

/* Header styles */
header {
  background-color: #fdfbf8; /* cream colored */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 3rem 0.75rem 0.75rem; /* top, right, bottom, left */
  box-shadow: 1px 2px 12px rgba(0,0,0,0.08); /* slight shadow */
  border-bottom: 1px solid #e2e2e2;
  border-radius: 30px; 
  margin: 0.5rem 0.5rem 1rem 0.5rem; /* top, right, bottom, left */
}

header.floating {
  border-radius: 12px;
  margin: 1rem 2rem; /* inset from edges */
}

/* Navigation container */
.header-nav {
  display: flex;
  justify-content: space-between;
  flex: 1;             
  max-width: none;    
  margin-left: 2rem;
  margin-right: 2rem;  
  gap: 2rem;           
  align-items: flex-end
}

.header-nav a {
  text-decoration: none;
  color: #555;
  font-weight: 500;
  padding: 0.3rem 0;
  position: relative;
  transition: color 0.2s;
}

/* Highlight on hover */
.header-nav a:hover {
  color: #203a82;
}

/* underline effect on hover */
.header-nav a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: #000000;
  transition: width 0.4s;
}

.header-nav a:hover::after {
  width: 100%;
}

.nav-logo {
  height: 70px; /* logo size */
  margin-right: 1rem;
}

.page {
  display: none; /* hide all pages by default */
}

.page.active {
  display: flex; /* or block/flex depending on layout */
}


#dashboardPage {
    display: flex;
    gap: 1rem;
    height: calc(100vh - 100px); 
    padding: 1rem 2rem;
}

#filterPanel {
  flex: 2;
  min-width: 150px;
  padding: 1.5rem;
  background-color: #fff;
  box-shadow: 1px 2px 12px rgba(0,0,0,0.08); /* slight shadow */
  border-bottom: 1px solid #e2e2e2;
  border-radius: 10px;
  margin: 0.1rem;
}

#filterPanel .apply-filters {
  padding: 0.25rem;
  border: 1px solid #e2e2e2;
  border-radius: 6px;
  font-family: 'Inter', sans-serif;
  font-size: 0.95rem;
  font-weight: 400;
}

#resultsPanel {
  flex: 5;
  min-width: 300px;
  padding: 1.5rem;
  overflow-y: auto;
  box-shadow: 1px 2px 12px rgba(0,0,0,0.08); /* slight shadow */
  border-bottom: 1px solid #e2e2e2;
  border-radius: 10px;
  margin: 0.1rem;

  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #fff;
}

/* Panel heading */
#resultsPanel .panel-title {
  font-size: 1.25rem;
  font-weight: 600;
  color: #203a82;
  padding: 1.5rem 2rem;
  border-bottom: 1px solid #eaeaea;
}

/* Table container padding */
#resultsPanel table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 0.3rem;
  padding: 1rem 2rem;
  font-family: 'Inter', sans-serif;
  font-size: 0.95rem;
}


/* Header within details panel */
#detailsPanel {
  flex: 3;
  min-width: 100px;
  padding: 1.5rem;
  background-color: #fff;
  box-shadow: 1px 2px 12px rgba(0,0,0,0.08); /* slight shadow */
  border-bottom: 1px solid #e2e2e2;
  border-radius: 10px;
  margin: 0.1rem;

  display: flex;
  flex-direction: column;
  overflow: hidden; /* collapse animation */
  transition: flex 0.35s ease, min-width 0.35s ease;
}


/* Header inside details panel */
#resultsPanel .panel-header,
#filterPanel .panel-header,
#detailsPanel .panel-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem 2rem;
  border-bottom: 1px solid #eaeaea;
  font-weight: 600;
  margin-bottom: 0.1rem;
}

/* Collapse button */
.panel-toggle {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  color: #555;
  transition: color 0.2s ease;
}

.panel-toggle:hover {
  color: #203a82;
}

/* Content container */
#detailsPanel .panel-content {
  padding: 1.5rem 2rem;
  overflow-y: auto;

  max-height: 1000px;
  transition: max-height 0.45s ease, opacity 0.25s ease;
}

/* Entire panel collapsed */
#detailsPanel.collapsed {
  flex: 0.6;
  min-width: 60px;
}

/* Hide content when collapsed */
#detailsPanel.collapsed .panel-content {
  max-height: 0;
  opacity: 0;
  padding-top: 0;
  padding-bottom: 0;
}

/* Rotate arrow */
#detailsPanel.collapsed .panel-header .arrow {
  transform: rotate(-90deg);
}


.detail-section {
  margin-bottom: 1.25rem;
}

.collapse-toggle {
  width: 100%;
  background: none;
  border: none;
  font-size: 0.95rem;
  font-weight: 600;
  padding: 0.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.collapse-toggle:hover {
  color: #203a82;
}

.collapse-content {
  display: none;
  padding-top: 0.5rem;
  font-size: 0.9rem;
  color: #444;
}

.detail-section.open .collapse-content {
  display: block;
}

.arrow {
  transition: transform 0.25s ease;
}

.detail-section.open .arrow {
  transform: rotate(180deg);
}

/* Ensure each filter label + input is vertical */
.filter-item {
  display: flex;
  flex-direction: column;  /* stack label on top of input */
  margin-bottom: 1.5rem;  /* space between filters */
}


.filter-item label {
  margin-top: 2rem;
  margin-bottom: 0.5rem;   /* space between label and input */
  font-family: 'Inter', sans-serif;
  font-size: 0.95rem;
  font-weight: 600;
}

.filter-item select,
.filter-item input {
  padding: 0.25rem;
  border: 1px solid #e2e2e2;
  border-radius: 6px;
  font-family: 'Inter', sans-serif;
  font-size: 0.95rem;
  font-weight: 400;
}

/* Jurisdiction Table interaction, Middle Section */
#resultsPanel .results-controls {
  display: flex;
  align-items: center;
  gap: 1rem;                       /* space between label and select */
  padding: 2rem 1rem 0rem 2rem; /* top, right, bottom, left */
  margin-bottom: 0.5rem;             /* spacing below controls */
  border-radius: 8px;               /* rounded corners */
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 0.95rem;
}

.results-controls select{
  padding: 0.25rem;
  border: 1px solid #e2e2e2;
  border-radius: 6px;
  font-family: 'Inter', sans-serif;
  font-size: 0.95rem;
  font-weight: 400;
}

#jurisdictionTable {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.95rem; /* space between rows */
}

#jurisdictionTable tbody tr {
  background-color: #fff;
  cursor: pointer;
  transition: all 0.25s ease;
}

/* td positioning context */
#jurisdictionTable th,
#jurisdictionTable td {
  position: relative;   
  padding: 0rem 2rem 1.2rem 0; /* top, right, bottom, left */
  text-align: middle;
}

/* Underline */
#jurisdictionTable tbody tr td::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;      
  width: 0;
  height: 2px;
  background-color: #000;
}

/* Animate underline on row hover */
#jurisdictionTable tbody tr:hover td::after {
  width: 100%;
}

/* Subtle row hover */
#jurisdictionTable tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.02);
}


/* Detail sections, Right Panel */
.detail-section {
  margin-bottom: 1rem;
}

.collapse-toggle {
  width: 100%;
  background: none;
  border: none;
  font-size: 0.95rem;
  font-weight: 600;
  padding: 0.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.collapse-toggle:hover {
  color: #203a82;
}

.collapse-content {
  display: none;
  padding: 0.5rem 0;
  font-size: 0.9rem;
  color: #444;
}

.arrow {
  transition: transform 0.25s ease;
}

.detail-section.open .collapse-content {
  display: block;
}

.detail-section.open .arrow {
  transform: rotate(180deg);
}
